nav {
  padding-top: 30px;
  padding-right: 60px;
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 33px;
    li {
      transition: 0.1s;
      a {
        color: #000;
        font-size: 20px;
        line-height: 29px;
      }
      a:hover {
        color: #ff6464;
      }
    }
  }
}

.nav__menu {
  display: none;
  color: #000;
  font-size: 35px;
}

@media (max-width: 950px) {
  nav {
    ul {
      display: none;
    }
    .nav__menu {
      display: block;
      color: #000;
      font-size: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
