.social__media1 {
  padding-top: 100px;
  text-align: center;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  .media1 {
    cursor: pointer;
  }
}
.footer__text1 {
  padding-top: 26px;
  padding-bottom: 55px;
  text-align: center;
  color: #21243d;
}

@media (max-width: 448px) {
  .social__media1 {
    text-align: center;
  }
}
